*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
@media screen and (min-width:1024px){
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('https://wallpaper.dog/large/5511262.jpg') no-repeat center;
  background-size:cover;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.start-game-screen {
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(121, 159, 191, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-game-screen .start-button {
  padding: 15px 25px;
  background-color: #e1ad01;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  cursor: pointer;
}
.mute{
  position: absolute;
  left: 250px;
  border: none;
  background-color: none;
  cursor: pointer;
  user-select: none;
}
.fa-volume-mute{
  font-size: 2rem;
  background-color: #fff;
  color: rgb(39, 189, 71);
  transition: all 0.1s ease-in-out;
}
.mute:focus{
  outline: none;
}
.mute:hover > .fa-volume-mute
{
  color: #e1ad01;
  font-size: 2.2rem;
}
.mute.active > .fa-volume-mute{
  color: #e1ad01;
}
.info-container {
  background-color: #fff;
  width: 900px;
  height: 70px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0 30px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  position: fixed;
  top:2rem;
}
.info-container img {
  position: absolute;
  left: 42%;
  height: 190px;
  width: 150px;
}
.timer{
  position: absolute;
  right: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
.game-block {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  max-width: 900px;
  height: 800px;
  position: fixed;
  top:7rem;
}
.game-block.no-click{
pointer-events: none;
}
.card {
  width: 140px;
  height: 180px;
  margin: 10px 15px;
  cursor: pointer;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 3px solid rgb(165, 165, 228);
}
.back img {
  height: 174px;
  width: 134px;
  background-position: center;
  background-size: cover;
}
.front {
  background-color: #333;
  height: 180px;
  width: 140px;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}

.front::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "!";
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10rem;
  line-height: 100%;
}
.card.is-flipped,
.card.correct {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
.scoreScreen{
  height: 400px;
  width: 500px;
  background-color: white;
  z-index: 2;
  position: relative;
  border-radius: 10px;
  background: url('https://wallup.net/wp-content/uploads/2016/01/270962-Mario_Bros.-video_games-Nintendo-748x468.jpg') center no-repeat;
  background-size: cover;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;  
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 4rem;
  user-select: none;

}

.scoreScreen.open{
  animation: fadeIn 1s ease-in forwards;
 }
 
 @keyframes fadeIn{
   0%{
     opacity: 0;
   }
   100%{
     opacity: 1;
   }
 }

 
.closeButton{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top:0.5rem;
  cursor: pointer;
  user-select: none;
}
.closeButton:hover{
  color: #e1ad01;
}


.fa-redo{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  user-select: none;
  padding: 10px 15px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.5);   
  backdrop-filter: blur(5px);
  border-radius: 5px;
  transition: all 0.1s ease-in;


}
.fa-redo:hover{
  color: #e1ad01;
  font-size: 2.8rem;
}

  
  .fa-trophy{
    font-size: 1.6rem;
    background-color: #fff;
    color: #e1ad01;
    transition: all 0.1s ease-in-out;
  }
 .leader-Board-Button:focus{
    outline: none;
  }
  .leader-Board-Button:hover > .fa-trophy
  {
    color: #e1ad01;
    font-size: 1.8rem;
  }
  .leader-Board-Button.active > .fa-trophy{
    color: #e1ad01;
  }
  .leaderBoard{
    height: 500px;
    width: 650px;
    position: fixed;
    border-radius: 10px;
    background: url('https://cdn.cultofmac.com/wp-content/uploads/2014/11/Screen-Shot-2014-11-28-at-11.17.00-AM.jpg') center no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;  
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
    user-select: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3 !important; 
  
  
  }
  
  .leaderBoard h1{
    padding-bottom: 20px;
    text-align: center;
    color: #333;
    font-size: 1.3rem;
  }
  
  .leaderBoard p{
    font-size: 0.8rem;
    width: 100px;
    word-wrap: break-word;
  }
     .leader-Board-Button{
      position: absolute;
      left: 310px;
      border: none;
      background-color: none;
      cursor: pointer;
      user-select: none;
    }
  
 
  .my-custom-scrollbar {
    position: relative;
    height: 50%;
    width: 90%;
    overflow: auto;
    text-align: center;
    font-size: 1rem;
    }
    thead{
      background-color: rgb(162, 214, 214);
      background-color: #798738;
      border: 2px #606C78 solid;
      border-radius: 20px;
      color: rgba(29, 12, 12, 0.822);
      font-size: 1.4rem;
      text-shadow: 2px 2px rgba(136, 57, 57, 0.7);

    }
    td{
      background: #fff;

      
    }
    .table-wrapper-scroll-y {
    display: block;
    }
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .open-LeadrBoard{
    display: flex;
  
  }
     .leader-Board-Button{
      position: absolute;
      left: 310px;
      border: none;
      background-color: none;
      cursor: pointer;
      user-select: none;
    }
  
    .fa-trophy{
      font-size: 1.6rem;
      background-color: #fff;
      color: #e1ad01;
      transition: all 0.1s ease-in-out;
    }
   .leader-Board-Button:focus{
      outline: none;
    }
    .leader-Board-Button:hover > .fa-trophy
    {
      color: #e1ad01;
      font-size: 1.8rem;
    }
    .leader-Board-Button.active > .fa-trophy{
      color: #e1ad01;
    }
  }